@font-face {
	font-family: 'Boogaloo';
	font-style: normal;
	font-weight: 400;
	display: swap;
	src: local(''), url('../assets/fonts/Boogaloo-Regular.woff2') format('woff2'),
		url('../assets/fonts/Boogaloo-Regular.woff') format('woff');
}
