@import 'src/styles/functions/toRem.scss';
@import 'src/styles/functions/toEm.scss';

.navbar {
	width: 100%;
	padding: rem(10);
	position: fixed;
	top: 0;

	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&-info {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(50%);
	}
}

@media screen and (max-width: em(500, 16)) {
	.navbar {
		&-logo {
      width: rem(163);
      height: rem(42.5);
		}
	}
}
