:root {
	--white: #fbfdfd;

	--black: #232323;
	--black-rgb: 35, 35, 35;

	--gray: #d6d6d5;

	--orange: #f99d17;
	--orange-light: #fdb863;

	--blue: #4281f8;
	--blue-light: #7db9d7;
	--blue-medium: #3adffc;

	--red: #f62e40;
	--red-light: #f88488;
}
