@import 'src/styles/functions/toRem';

.info-hover {
	position: relative;

	span {
		display: inline-block;
		padding: rem(10);
		width: rem(300);
		background-color: var(--white);
		position: absolute;
		top: 115%;
		transform: translateX(-100%);
		border-radius: rem(15);
		opacity: 0;
		overflow: hidden;
		transition: opacity 200ms ease-in-out, overflow 200ms ease-in-out;
    box-shadow: 0 0 rem(15) rem(7) rgba(var(--black-rgb), 0.25);
	}

	svg:hover + span {
		opacity: 1;
		overflow: visible;
	}
}
